body {
    margin: 0;
    padding: 0;
    background-color: #0000ff;
    font-family: "Courier New", Courier, monospace;
}

#bsod {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}